[submodule "test/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/oscpack"]
	path = lib/oscpack
	url = https://github.com/yoggy/liboscpack_1_0_2-vc10.git
