language: cpp
compiler:
- gcc
- clang
os:
- linux
- osx
git:
  depth: 1
dist: trusty
sudo: required

addons:
  sonarcloud:
    organization: "udopia-github"
  
cache:
  directories:
  - '$HOME/.sonar/cache'

env:
  matrix:
  - CANDY_MODE=REGULAR
  - CANDY_MODE=COVERAGE
  - CANDY_MODE=SANITIZERS
matrix:
  global:
  - ASAN_OPTIONS="detect_leaks=1"
  exclude:
  - os: osx
    env: CANDY_MODE=COVERAGE
  - os: osx
    env: CANDY_MODE=SANITIZERS
  - os: linux
    compiler: clang
    env: CANDY_MODE=COVERAGE
  - os: linux
    compiler: clang
    env: CANDY_MODE=SANITIZERS
#  allow_failures:
#  - os: linux
#    compiler: clang
before_script:
- if [ `uname` = "Linux" ]; then 
    sudo add-apt-repository -y ppa:ubuntu-sdk-team/ppa; 
    sudo add-apt-repository -y ppa:josh-bialkowski/cmake; 
    sudo apt-get update; 
    sudo apt-get install -y --force-yes cmake zlib1g-dev; 
  fi
- if [ "$CANDY_MODE" = "COVERAGE" ]; then 
    gem install coveralls-lcov; 
    sudo apt-get install lcov; 
  fi
script:
- pwd
- echo $TRAVIS_BUILD_DIR
- mkdir -p build
- cd build
- if [ "$CANDY_MODE" = "REGULAR" ]; then cmake -DCMAKE_BUILD_TYPE=Release $TRAVIS_BUILD_DIR; fi
- if [ "$CANDY_MODE" = "COVERAGE" ]; then cmake -DCMAKE_BUILD_TYPE=Debug -DCANDY_ENABLE_COVERAGE=ON $TRAVIS_BUILD_DIR; fi
- if [ "$CANDY_MODE" = "SANITIZERS" ]; then cmake -DCMAKE_BUILD_TYPE=Debug -DCANDY_ENABLE_ADDRESS_SANITIZER=ON $TRAVIS_BUILD_DIR; fi
- if [[ $TRAVIS_OS_NAME == 'linux' ]]; then
    build-wrapper-linux-x86-64 --out-dir ../bw-output cmake --build . --config Release -- -j2;
  else
    cmake --build . --config Release -- -j2;
  fi
- ctest -V
- if [[ ($TRAVIS_OS_NAME == 'linux') && ($CANDY_MODE == "COVERAGE") ]]; then
    cd $TRAVIS_BUILD_DIR;
    sonar-scanner -Dsonar.verbose=true -X;
  fi
after_success:
- if [ "$CANDY_MODE" = "COVERAGE" ]; then 
    cd $TRAVIS_BUILD_DIR/build; 
    lcov --directory . --capture --output-file coverage.info; 
    lcov --remove coverage.info 'lib/*' 'testsrc/*' '/usr/*' 'src/candy/teexgraph/*' --output-file coverage.info; 
    lcov --list coverage.info; 
    cd $TRAVIS_BUILD_DIR; 
    coveralls-lcov build/coverage.info; 
  fi

